/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require social-share-button
 *= require_self
 */

body {
  margin: 0;
  padding: 0;
}

.container {
  padding: 16px;
  margin: 0 auto;
  max-width: 960px;
}

.social-share-button {
  margin-bottom: 8px;
}

.divide {
  border-top: solid 1px #eee;
  margin-bottom: 8px;
  margin-top: 10px;
  padding: 10px 0;
}

.donate {
  float: left;
  font-family: System-UI;
  font-size: 12px;
}

.donate-text {
  font-size: 13px;
  margin-bottom: 6px;
  padding-right: 10px;
}

.donate-btn {
  color: #0077B5;
  cursor: pointer;
  background-color: #FFFFFF;
  border-color: #0077B5;
  border-radius: 5px;
  padding: 7px 8px;
  text-transform: uppercase;
  text-align: center;
}

.footer-center {
  font-size: 11px;
  font-family: System-UI;
  margin-top: 60px;
  text-align: center;
}

.site-credits {
  padding-left: 0;
  float: right;
  font-family: System-UI;
  font-size: 13px;
}
