// Place all the styles related to the Ipsum controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.module {
  cursor: url('app/assets/images/fabric.png'), auto;
}

.logo {
  display: block;
  height: 125px;
  margin-left: auto;
  margin-right: auto;
  width: 125px;
}

.intro-wrapper {
  display: flex;

  .left-half,
  .right-half {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1 rem;
    text-align: center;
  }
}

.logo-text,
.selector,
.submit-btn {
  text-align: center;
}

.paragraph-arr {
  display: block;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

.clipboard-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

textarea {
  margin: 15px;
}
