// Place all the styles related to the Ipsum controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.module {
  cursor: url('app/assets/images/fabric.png'), auto;
}

.logo {
  display: block;
  height: 125px;
  margin-left: auto;
  margin-right: auto;
  width: 125px;
}

.logo-text {
  font-family: 'Pacifico', regular;
  font-size: 40px;
  text-align: center;
}

.button {
  font-family: 'Rubik', sans-serif;
  text-transform: uppercase;
}

.intro-wrapper {
  display: flex;
  font-family: "Lato", Arial, sans-serif;
  font-size: 14px;

  .left-half,
  .right-half {
    display: flex;
    font-family: "Lato", Arial, sans-serif;
    font-size: 15px;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0px 14px;
    padding: 1 rem;
    text-align: center;
  }
}

select {
  cursor: pointer;
  padding: 6px;
  margin: 5px;
  // border: 1px solid #555;
  width: 4%;
}

.select-sentence {
  font-family: "Lato", Arial, sans-serif;
  font-size: 14px;
  text-align: center;
}

.center-text {
  text-align: center;
}

.ipsum-wrapper p {
  font-family: 'Delius Swash Caps', regular;
  font-size: 16px;
  display: block;
  // height: 200px;
  margin-left: auto;
  margin-right: auto;
  // width: 1200px;
}

.button {
  background-color: royalblue;
  border: 5px black;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 12px;
  padding:  8px 10px;
  margin: 10px;
}

.clipboard-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

textarea {
  margin: 15px;
}
